#:schema node_modules/wrangler/config-schema.json
name = "subscriptions"
main = "src/worker.ts"
compatibility_date = "2024-10-22"
compatibility_flags = ["nodejs_compat"]

# Workers Logs
# Docs: https://developers.cloudflare.com/workers/observability/logs/workers-logs/
# Configuration: https://developers.cloudflare.com/workers/observability/logs/workers-logs/#enable-workers-logs
[observability]
enabled = true

[dev]
port = 8782

[[d1_databases]]
binding = "BILLIFY_D1" # i.e. available in your Worker on env.DB
database_name = "billify-db"
database_id = "d1eeda6e-8f28-4718-8f71-bd509ff05b44"

[[kv_namespaces]]
binding = "BILLIFY_KV"
id = "c377562a53e14793b71d8a70db8919da"
