#:schema node_modules/wrangler/config-schema.json
name = "payments"
main = "src/worker.ts"
compatibility_date = "2024-10-22"

# Workers Logs
# Docs: https://developers.cloudflare.com/workers/observability/logs/workers-logs/
# Configuration: https://developers.cloudflare.com/workers/observability/logs/workers-logs/#enable-workers-logs
[observability]
enabled = true

[triggers]
crons = ["0 0 * * *"] # = run every day
# crons = ["* * * * *"] # * * * * * = run every min
# crons = ["0 */1 * * *"] # 0 */1 * * * = run every hour
# crons = ["0 0 * * *"] # 0 0 * * * = run every day
# crons = ["0 0 1 * *"] # 0 0 1 * * = run every month
# crons = ["0 0 1 1 *"] # 0 0 1 1 * = run every year

[dev]
port = 8784

# Variable bindings. These are arbitrary, plaintext strings (similar to environment variables)
[vars]
INVOICES_SERVICE = "http://127.0.0.1:8783"
CUSTOMER_SUBSCRIPTIONS_SERVICE = "http://127.0.0.1:8782"
NOTIFICATIONS_SERVICE = "http://127.0.0.1:8781"

[[d1_databases]]
binding = "BILLIFY_D1" # i.e. available in your Worker on env.DB
database_name = "billify-db"
database_id = "d1eeda6e-8f28-4718-8f71-bd509ff05b44"

[[kv_namespaces]]
binding = "BILLIFY_KV"
id = "c377562a53e14793b71d8a70db8919da"

# Bind a Durable Object. Durable objects are a scale-to-zero compute primitive based on the actor model.
# Durable Objects can live for as long as needed. Use these when you need a long-running "server", such as in realtime apps.
# Docs: https://developers.cloudflare.com/workers/wrangler/configuration/#durable-objects
[[durable_objects.bindings]]
name = "PaymentDO"
class_name = "Payment"

# Durable Object migrations.
# Docs: https://developers.cloudflare.com/workers/wrangler/configuration/#migrations
[[migrations]]
tag = "v1"
new_classes = ["Payment"]