#:schema node_modules/wrangler/config-schema.json
name = "notifications"
main = "src/worker.ts"
compatibility_date = "2024-10-22"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[dev]
port = 8781

# [placement]
# mode = "smart"

[vars]
MAILGUN_DOMAIN="sandboxa5fa6077ce0f430082fb416a6fca1ca8.mailgun.org"
MAILGUN_FROM_ADDRESS="Excited User <mailgun@sandboxa5fa6077ce0f430082fb416a6fca1ca8.mailgun.org>"

[[d1_databases]]
binding = "DB" # i.e. available in your Worker on env.DB
database_name = "billify-db"
database_id = "d1eeda6e-8f28-4718-8f71-bd509ff05b44"
